- var static_pref = app.cfg.STATIC_PREFIX
doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(content='IE=edge' http-equiv="X-UA-Compatible")
        title!="app_name"
        block base_css
            link(rel="styleSheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
            link(rel="styleSheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
            link(rel="styleSheet" href=static_pref + "/app.css")
        block js
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

    body
        include Navbar.jade
        .container
            block base_content
                if user
                    h1!="Hello " + user.email + "!"
                else
                    h1 Hello anonymous
            block base_js

