extends Base.jade

block base_content
    if user
        h1!="Hello "+ user.email + "!"
    else
        h1 Hello anonymous!

    if user
        if user.is_super
            p See
                a(href="admin/user") Admin interface
    else
        p Login as user
            i (user@muffin.io:pass)
        p Login as admin
            i (admin@muffin.io:pass)
        p Or login from
            a(href="/oauth/github") Github

    h3 Websocket Chat

    .row
        button#connect.btn.btn-success Connect

    #log.row.form-control(style="width:40em;height:15em;overflow:auto;margin:1em -15px;")

    .row
        form#chatroom.form.form-inline(onsubmit="return false;")
            .form-group
                input#text.form-control(type="text")
                input#send.form-control(type="button" value="Send")

block base_js

    script(language="javascript" type="text/javascript").
        $(function() {
            var conn = null;
            function log(msg) {
                var control = $('#log');
                control.html(control.html() + msg + '<br/>');
                control.scrollTop(control.scrollTop() + 1000);
            }
            function connect() {
                disconnect();
                var wsUri = (window.location.protocol=='https:'&&'wss://'||'ws://')+window.location.host+'/ws';
                alert('Connect socket to url: ' + wsUri);
                conn = new WebSocket(wsUri);
                log('Connecting...');
                conn.onopen = function() {
                    log('Connected.');
                    update_ui();
                };
                conn.onmessage = function(e) {
                    log('Received: ' + e.data);
                };
                conn.onclose = function() {
                    log('Disconnected.');
                    conn = null;
                    update_ui();
                };
            }
            function disconnect() {
                if (conn != null) {
                    log('Disconnecting...');
                    conn.close();
                    conn = null;
                    update_ui();
                }
            }
            function update_ui() {
                var msg = '';
                if (conn == null) {
                    $('#status').text('disconnected');
                    $('#connect').html('Connect');
                } else {
                    $('#status').text('connected (' + conn.protocol + ')');
                    $('#connect').html('Disconnect');
                }
            }
            $('#connect').click(function() {
                if (conn == null) {
                    connect();
                } else {
                    disconnect();
                }
                update_ui();
                return false;
            });
            $('#send').click(function() {
                var text = $('#text').val();
                log('Sending: ' + text);
                conn.send(text);
                $('#text').val('').focus();
                return false;
            });
            $('#text').keyup(function(e) {
                if (e.keyCode === 13) {
                    $('#send').click();
                    return false;
                }
            });
        });
