.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href="#") Muffin
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(class="{{ view == 'index' and 'active' }}")
                    a(href='/') Home
                if user
                    li(class="{{ view == 'profile' and 'active' }}")
                        a(href='/profile') Profile
                if user.is_super
                    li
                        a(href='/admin') Admin
            if user
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/logout") Logout
            else
                form#login.navbar-form.navbar-right(action="/login" method="POST")
                    .form-group
                        input#email.form-control(type="text" name="email" placeholder="Email")
                    .form-group
                        input#password.form-control(type="password" name="password" placeholder="password")
                    button.btn.btn-default(type="submit") Login
                    script.
                        $('#login').submit(function(event){
                            event.preventDefault();

                            var data = {
                                "email": $('#email').val(),
                                "password": $('#password').val()
                            };

                            $.ajax({
                                type: "POST",
                                url: $(this).attr('action'),
                                data: data
                            }).done(function() {
                                location.reload();
                            })
                        });